body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(image/bg.png);
    
    }
   
      :root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
    }
    * {
    box-sizing: border-box;
    }
    
    .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 40px;
    }
    
    .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    }
    
    .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(94, 168, 8, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    }
    
    .wrapper::before,
    .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    }
    .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(255, 238, 7, 0.568) 68%,
      rgb(12, 107, 28) 97%
    );
    }
    .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(56, 134, 134, 0.5) 68%,
      rgb(47, 197, 9) 97%
    );
    }
    
    .card:hover .wrapper::before,
    .wrapper::after {
    opacity: 1;
    }
    
    .card:hover .wrapper::after {
    height: 120px;
    }
    .title {
    width: 100%;
    transition: transform 0.5s;
    }
    .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
    }
    
    .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    }
    
    .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
    }
    
    .picture-container{
        height: 150px;
    display: flex;
    }
    
    .header{
    width: 100%;
    padding: 25px;
    background-color:transparent;
    position: fixed;
    top: 0;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFEBD4;
    
    }
    
    .footer{
    padding: 25px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    }